/*ESTILOS GENERALES*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Karla", serif;
}

h1,
h2,
h3 {
  font-family: "DM Serif Dislay", serif;
}

.line-top {
  width: 150px;
  color: #b0a4b2;
  border-width: 1px;
  border-style: solid;
}
/*##################################################CUERPO HTML##################################################*/
body {
  position: relative;
  margin: auto;
  /*background: url(../design/desktop-design.jpg);*/
  background-position: top center;
  background-repeat: no-repeat;
  width: 1440px;
  height: 2410px;
}
/*##################################################SECCION DE ENCABEZADO##################################################*/
header {
  position: relative;
  margin: auto;
  height: 80px;
  z-index: 5;
}
/*ENCABEZADO - Logotipo de Empresa*/
.logo {
  display: inline;
  position: absolute;
  top: 30px;
  left: 170px;
}
/*ENCABEZADO-CONTENEDOR MENU*/
.menu {
  position: absolute;
  top: 35px;
  right: 100px;
  width: 600px;
}
/*MENU LISTA*/
.elementos-menu li {
  margin: 0 20px 0 20px;
  float: left;
  font-size: 15px;
  letter-spacing: 2px;
}

/*MENU LISTA OPCIONES */
.option {
  color: #878789;
}
.option:hover {
  color: rgba(44, 38, 64, 1);
  font-weight: bold;
}

/*BOTON DEL MENU LISTA*/
.btn-plans {
  border-width: 2px;
  border-style: solid;
  padding: 9px 28px 9px 28px;
  color: #2b282f;
}

.btn-plans:hover {
  background-color: rgba(44, 38, 64, 1);
  color: aliceblue;
}

/*##################################################SECCION DE INICIO##################################################*/
#inicial {
  background-color: rgba(44, 38, 64, 1);
  color: white;
  height: 600px;
  position: relative;
}

.img-intro {
  position: absolute;
  right: 0;
  z-index: 2;
}

.img-familia-intro {
  position: absolute;
  right: 165px;
  top: 105px;
}
.content-intro {
  width: 540px;
  height: 350px;
  padding: 150px 30px 100px 165px;
}

.content-intro hr {
  position: absolute;
  top: 100px;
}

.content-intro h1 {
  font-size: 75px;
  font-weight: 700;
  margin: 20px 0 20px 0;
  line-height: 0.9;
}

.content-intro p {
  margin: 30px 0 42px 0;
  line-height: 1.5;
}

.btn-plans2 {
  border-width: 2px;
  border-style: solid;
  padding: 9px 28px 9px 28px;
  color: aliceblue;
}

.btn-plans2:hover {
  background-color: aliceblue;
  color: #2b282f;
  font-weight: bold;
}

/*##################################################SECCION DE CONTENIDO##################################################*/
.contenido {
  height: 1000px;
  position: relative;
  padding-top: 305px;
}

.img-content {
  position: absolute;
  top: -171px;
  left: 0;
}

.contenido hr {
  margin-left: 160px;
  color: #b0a4b2;
}

.contenido > h2 {
  font-size: 70px;
  width: 520px;
  line-height: 0.9;
  margin: 70px 0 70px 160px;
}

.contenido-secundario {
  width: auto;
  height: 357px;
  margin: 50px 0 50px 0;
}

.contenido-secundario h3 {
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 28px;
}

.section1,
.section2,
.section3 {
  position: relative;
  left: 9%;
  margin: auto;
  width: 350px;
  padding: 20px;
  letter-spacing: 1px;
  line-height: 1.5;
  float: left;
}

.work {
  background-color: rgba(44, 38, 64, 1);
  margin: 70px 140px 100px 165px;
  width: 1110px;
  height: 250px;
  position: relative;
}
.work > h2 {
  font-size: 70px;
  color: white;
  width: 600px;
  line-height: 0.9;
  float: left;
  margin: 65px 50px 0 50px;
}

.btn-work {
  position: absolute;
  right: 80px;
  top: 105px;
  border-width: 2px;
  border-style: solid;
  padding: 9px 28px 9px 28px;
  color: aliceblue;
  background-color: rgba(44, 38, 64, 1);
  z-index: 5;
}

.btn-work:hover {
  background-color: aliceblue;
  color: #2b282f;
  font-weight: bold;
}

.work > img {
  position: absolute;
  right: 0;
  z-index: 1;
}
/*##################################################SECCIÓN DE PIE DE PÁGINA##################################################*/
footer {
  border-color: rgba(0, 0, 255, 0.5);
  height: 500px;
  position: relative;
  background-color: rgba(250, 250, 250, 1);
}

footer > img {
  position: absolute;
  z-index: 1;
}

footer hr {
  margin-left: 160px;
}

.line-bottom {
  width: 1100px;
  border-width: 1px;
  border-style: solid;
  color: #d9d9d9;
}

.redes-sociales {
  width: auto;
  height: 150px;
  position: relative;
  transition: all 300ms;
}

.redes-sociales > img {
  position: absolute;
  top: 100px;
  left: 160px;
}

.link-redes {
  position: absolute;
  top: 95px;
  right: 160px;
}

.link-redes ul li {
  float: left;
  margin: 0 10px 0 10px;
  transition: all 300ms;
}

.link-redes ul li:hover {
  transform: scale(1.8, 1.8);
}

.pattern-footer {
  position: absolute;
  z-index: 1;
}

.menu-footer {
  margin: 10px 0px 10px 0px;
  height: 300px;
  padding: 40px 100px 40px 100px;
  position: absolute;
  z-index: 6;
}

.column1-footer,
.column2-footer,
.column3-footer,
.column4-footer {
  float: left;
  margin: 0 130px 0 40px;
}

.menu-footer h4 {
  margin: 0 0 20px 0;
  width: 140px;
  height: 30px;
}
.menu-footer h4 a {
  color: #878789;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all 300ms;
}

.menu-footer h4 a:hover {
  color: rgba(44, 38, 64, 1);
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}

.menu-footer ul li {
  margin: 15px 0 15px 0;
}
.menu-footer ul li a {
  text-transform: uppercase;
  color: rgba(44, 38, 64, 1);
  font-weight: bold;
  font-size: 14px;
}

.menu-footer ul li a:hover {
  text-decoration: underline;
}

/*##################################################SECCIÓN DE ATTRIBUTION##################################################*/
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
